h1 {
    text-align: center;
}

.buttonContainer {
    text-align: center;
}

#clear {
    border-radius: 5px;
    border-style: solid;
    margin-bottom: 10px;
}

.gridContainer {
    display: grid;
    height: 500px;
    width: 500px;
    margin: auto;
    border: 1px solid black;
}

#item {
    border: 1px solid black;
}